body{
            background-color: whitesmoke;
        }
        header{
            display: flex;
            margin: 0;
            background-color: rgb(163, 90, 90);
            height: 50px;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            position: relative;
        }
        .logo{
            font-family: Copperplate, Papyrus, fantasy;
            color: white;
            font-weight: bold;
            font-size: 30px;
        }
        input{
            width: 400px;
            height: 10px;
            border-radius: 20px;
            padding: 10px;
            border: none;
        }
        
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
            margin: 20px;
        }
        .hamburger div{
            width: 25px;
            height: 3px;
            margin: 5px;
            background-color: white;
        }
        .hamburger{
            cursor: pointer;
            display: none;
        }
        @media (max-width:768px){
            .nav-links{
                display: none;
                width: 100%;
                position: absolute;
                flex-direction: column;
                background-color: black;
                
                left: 0;
                top: 70px;
                
            }
            .nav-links a{
                border-top: 1px solid rgb(158, 151, 151);
                padding: 10px 20px;
                margin-top: 20px;
                margin-bottom: 0;
            }
            .hamburger{
                display: block;
            }
            .nav-links.active{
                display: flex;
            }
        }
        .card-container{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin: 20px auto;
            align-items: center;
            justify-content: center;
        }
        #card{
            width: 250px;
            border: 1px solid;
            text-align: center;
            padding: 20px;
            margin: 5px;
            background-color: white;
            border-radius: 10px;
        }
        #card img{
            width: 100%;
            height: 200px;
        }
        #input{
            width: 300px;
            height: 30px;
            outline: none;
            margin: 20px;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            color: black;
        }